{% extends "core/base.html" %}

{% load static %}

{% block title %}
Perfil
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<section class="container mt-3 p-0 border bg-dark text-light">
    <div class="row">
        <div class="p-3">
            <figure class="p-3 text-center">
                {% if user.imagen_perfil %}
                <img src="{{user.imagen_perfil.url}}" alt="Imagen de perfil" class="img-fluid" width="50%">
                {% else %}
                <img src="{% static 'img/usuario.jpg' %}" alt="Imagen de perfil sin establecer">
                {% endif %}
                <figcaption><a href="">Editar imagen</a></figcaption>
            </figure>
            <div class="p-3">
                <strong>Nombre: </strong>{{user.name}}<br>
                <strong>Apellidos:</strong> {{ user.apellidos|default_if_none:'-' }}<br> <strong>Fecha de nacimiento:
                </strong>{{user.fecha_nacimiento}}<br>
                <strong>Email: </strong>{{user.email}}<br>
                <strong>Teléfono: </strong>{{user.telefono|default:'-'}}<br>

                <button type=" submit" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modalConfirmacion">Eliminar Perfil</button>

            </div>
        </div>
    </div>

    <!-- Modal de confirmación-->
    <div class="modal fade" id="modalConfirmacion" tabindex="-1">
        <div class="modal-dialog text-dark">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación de Perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar tu perfil? <br>Esta acción no se puede deshacer.
                    <hr>
                    Se eliminarán todos los datos asociados a tu cuenta y se anularán todas las citas pendientes.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form id="deleteProfileForm" action="{% url 'eliminar-perfil' %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar Perfil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}