{% extends "core/base.html" %}

{% load static %}

{% block title %}
Perfil
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Aquí se muestra la información del usuario logueado en el momento de cargar la vista. -->

<section class="container mt-3 p-0 border bg-dark text-light">
    <div class="row">
        <div class="p-3">
            <figure class="p-3 text-center">
                <img src="{{user.imagen_perfil.url}}" alt="Imagen de perfil" class="img-fluid">
            </figure>
            <hr>
            <div class="p-3">
                <h2 class="text-center">Perfil de {{user.name}}</h2>
                <p class="alert alert-success" role="alert">
                    ¡Recuerda! Puedes modificar tu información pero no tu correo electrónico.
                    Si tienes problemas con tu cuenta, contacta con el servicio de atención al cliente.
                </p>
                <section class=" row p-3">
                    <div class="col-12 col-md-6 mb-3">
                        <strong class="row">Nombre: </strong>{{user.name}}
                        <strong class="row">Apellidos:</strong> {{ user.apellidos|default_if_none:'-' }} <strong class="row">Fecha de
                            nacimiento:
                        </strong>{{user.fecha_nacimiento | default_if_none:'-'}}
                        <strong class="row">Email: </strong>{{user.email}}
                        <strong class="row">Teléfono: </strong>{{user.telefono|default:'-'}}
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="d-inline-flex gap-1">
                            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#editarCollapse">
                              Editar perfil
                            </button>
                          </p>
                          <div class="collapse" id="editarCollapse">
                            <div class="card card-body text-dark">
                              <form method="post" enctype="multipart/form-data" id="formularioEditarPerfil">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <button class="btn btn-dark" type="submit">Editar</button>
                              </form>
                            </div>
                          </div>
                    </div>
                </section>

                <div class="row">
                    <button type="submit" class="btn btn-danger col-5" data-bs-toggle="modal"
                        data-bs-target="#modalConfirmacion">Eliminar Perfil</button>
                    <a href="/logout" class="btn btn-danger offset-2 col-5">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>

    

    <!-- Modal de confirmación-->
    <div class="modal fade" id="modalConfirmacion" tabindex="-1">
        <div class="modal-dialog text-dark">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación de Perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar tu perfil? <br>Esta acción no se puede deshacer.
                    <hr>
                    Se eliminarán todos los datos asociados a tu cuenta y se anularán todas las citas pendientes.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form id="deleteProfileForm" action="{% url 'eliminar-perfil' %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar Perfil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}