{% extends "core/base.html" %}
{% block title %}
Mis citas
{% endblock %}

{% load tz %} <!-- Importar la zona horaria -->
{% load i18n %} <!-- Importar la internacionalización -->

{% block content %}

<section class="container-fluid bg-dark p-2 border-top">
    <h2 class="text-light display-2 fw-semibold">Mis citas</h2>
</section>

{% language 'es' %} <!-- Establecer el idioma en español -->

<div id="advertencia" class="container mt-3">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Advertencia</h4>
        <p>Recuerde! Cualquier cancelación está sujeta a las condiciones establecidas por los profesionales. En caso de
            no especificarse nada, el período de cancelación
            gratuita es de 48 horas antes de la consulta.
        </p>
        <hr>
        <p class="mb-0">Términos y condiciones de cancelación: <a href=""
                class="text-dark text-decoration-none"><strong>Ver
                    enlace</strong></a></p>
    </div>
</div>

{% if citas %}

<div class="accordion container mt-3">
    {% for cita in citas %}
    <div class="accordion-item mt-3">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cita{{cita.id}}">
                {{cita.profesional.nombre}} {{cita.profesional.apellidos}} - {{cita.fecha_cita}}
            </button>
        </h2>
        <div id="cita{{cita.id}}" class="accordion-collapse collapse row" data-bs-parent="#cita{{cita.id}}">
            <div class="accordion-body col-8">
                <p>{{cita.descripcion}}</p>
                <p>Especialidades: {% for especialidad in cita.profesional.especialidad.all %}
                    {{especialidad | capfirst}},
                    {% endfor %}</p>
            </div>
            <div class="col-4">
                <strong>Precio: {{cita.precio}}€</strong>
                <strong>Estado: {{cita.get_estado_display}}</strong>
            </div>
        </div>
        <div class="row">
            <!-- <button class="btn btn-danger col-6">Anular cita</button>
            <button class="btn btn-danger col-6">Cambiar fecha</button> -->
        </div>
    </div>
    {% endfor %}

    {% else %}
    <section class="container">
        <h2>Actualmente no hay ninguna cita activa</h2>
    </section>

    {% endif %}
    {% endlanguage %}




    {% endblock %}