#inicio {
  background-image: url('../img/fondo_pagina.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
}

/* Aquí establecemos los estilos de las etiquetas de búsqueda de las diferentes especialidades */



h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.enlace_und {
  text-decoration: none;
}

.scrollable-menu{
  max-height: 200px; 
  overflow-y: auto;
}

.star-rating {
    display: flex;
    direction: row;
    justify-content: center;
}

.star-rating i {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

.star-rating i.selected,
.star-rating i.hovered {
    color: #ffcc00;
}