figure {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

figure img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 50%;
}