{% extends "core/base-login.html" %}

{% block content %}

{% load crispy_forms_tags %}

<form method="post">
    {% csrf_token %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ingresa tus credenciales</h5>

            {{ form | crispy }}

            <div class="row">
                <a href="{% url 'register' %}" class="card-link col-3">Registrarse</a>
                <a href="#" class="card-link col-3">Olvidaste tu contraseña?</a>
                <input class="btn btn-primary float-end col-5" type="submit" value="Entrar">
            </div>
        </div>
    </div>


</form>

{% endblock %}