{% extends "core/base-login.html" %}

{% block content %}

{% load crispy_forms_tags %}

<section class="container-fluid bg-dark p-2 border-top">
    <h2 class="text-light display-2 fw-semibold">Inicia Sesión</h2>
    <h4 class="text-light text-center">Ya tienes una cuenta? Inicia sesión y accede a todas las funcionalidades.</h4>
</section>

<section class="container mt-3">
    <h2>Iniciar como: </h2>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-dark active">Profesional</button>
        <button type="button" class="btn btn-outline-dark">Cliente</button>
    </div>
</section>

<form method="post" class='container mt-3'>
    {% csrf_token %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ingresa tus credenciales</h5>

            {{ form | crispy }}

            <div class="row">
                <a href="{% url 'register' %}" class="card-link col-3">Registrarse</a>
                <a href="#" class="card-link col-3">Olvidaste tu contraseña?</a>
                <input class="btn btn-dark float-end col-5" type="submit" value="Entrar">
            </div>
        </div>
    </div>


</form>

{% endblock %}