{% extends "core/base-login.html" %}

{% block content %}

{% block script %}
<script>
    <!-- Con la configuración de backdrop y keyboard evitamos que el usuario pueda cerra la modal de todas las formas posibles -->
    document.addEventListener('DOMContentLoaded', function () {
        let ventanaModal = new bootstrap.Modal(document.getElementById('modalRegister'), {
            backdrop: 'static',
            keyboard: false
        });
        ventanaModal.show();
    });
</script>
{% endblock %}

<!-- El formulario de Registro. Es una modal pero no se puede salir de ella. -->

{% load crispy_forms_tags %}

<div class="modal fade" id="modalRegister" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Registrate GRATIS!</h1>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {% if message.tags %}
                                {{ message }}
                                {% endif %}
                            </div>
                            {% endfor %}
                            {% endif %}

                            <h5 class="card-title">Completa todos los campos</h5>
                            {{ form | crispy }}

                        </div>
                    </div>
            </div>
            <div class="modal-footer bg-dark">
                <a href="{% url 'login' %}" class="card-link btn btn-light">Inciar sesión?</a>
                <input type="submit" class="btn btn-light" value="Registrarse">
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}