<!-- La misma plantilla que el 'base.html' pero quitando el navbar. -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Legal Roster | {% block title %}{% endblock %}</title>

  {% load static %}

  {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  {% block css %}

  <style>
    body {
      background: linear-gradient(#212529, #495057);
      height: 100vh;
    }
  </style>

  {% endblock %}

  {% block script %}

  {% endblock %}

<body>

  <main>
    {% block content %}

    {% endblock %}
  </main>

</body>

</html>