{% extends "core/base.html" %}
{% load static %}
#TODO: Pasar las citas a la plantilla y mostrarlas en el calendario.
#TODO: Implementar otros eventos en el calendario
{% block title %}
Calendario
{% endblock %}

{% block script %}
<script type="module" src="{% static 'js/bundle.js' %}" defer></script>

{% endblock %}

{% block content %}

<section class="border-top border-secondary">
    <h1 class="bg-dark text-light text-center p-3">Calendario</h1>
</section>


<section class="container mt-3" id="calendar" data-citas="{{ citas }}">

</section>

{% endblock %}