{% extends "core/base.html" %}

{% block title %}

Política de cancelaciones

{% endblock %}

{% load static %}

{% block content %}

<section class="border-top border-secondary">
    <h1 class="bg-dark text-light text-center p-3">Política de Cancelaciones</h1>
</section>

<section style="width: 50%;" class="float-md-start mx-auto container">
    <img class="img-fluid" src="{% static 'img/cancelar-cita.svg' %}" alt="Ilustración cancelar cita">
</section>

<!-- Sección donde se explica la política de cancelaciones que tiene la página. -->

<section class="mt-3 container">
    <strong>Condiciones y Términos de Cancelación de Citas</strong>
    <p>
        En nuestra página web, nos comprometemos a ofrecer un servicio de excelencia y
        profesionalidad. Para asegurar la eficiencia y la disponibilidad de nuestros servicios,
        hemos establecido las siguientes condiciones y términos de cancelación de citas:

    <ul>
        <li>
            <strong>1. Notificación de Cancelación:</strong>
            Las cancelaciones de citas deberán ser notificadas con una antelación mínima de 48 horas. Esta notificación
            debe realizarse a través de nuestros canales oficiales, ya sea mediante llamada telefónica, correo
            electrónico, o a través de nuestro sistema de gestión de citas en la página web.
        </li>
        <li>
            <strong>2. Penalización por Cancelación Tardía:</strong>
            Entendemos que pueden surgir imprevistos; sin embargo, las cancelaciones realizadas con menos de 48 horas de
            antelación estarán sujetas a una penalización equivalente al 50% del coste de la consulta en caso de poder
            justificar
            un motivo de fuerza mayor. Este cargo es aplicable debido a la dificultad de reasignar el espacio de tiempo
            reservado a otro cliente en tan breve plazo.
        </li>
        <li>
            <strong>3. Ausencia sin Notificación:</strong>
            En caso de no presentarse a la cita sin haber notificado la cancelación, se aplicará un cargo del 100% del
            coste de la consulta. Esta medida es necesaria para compensar el tiempo y los recursos dedicados a preparar
            su consulta.
        </li>
        <li>
            <strong>4. Reprogramación de Citas:</strong>
            La reprogramación de citas está sujeta a disponibilidad y deberá realizarse con la misma antelación mínima
            de 48 horas. La reprogramación realizada con menos de 24 horas de antelación será tratada como una
            cancelación tardía,
            aplicándose las condiciones anteriormente mencionadas.
        </li>
        <li>
            <strong>5. Excepciones:</strong>
            Nos reservamos el derecho de eximir de penalización en circunstancias excepcionales y justificadas, a
            nuestro
            exclusivo criterio. Estas excepciones serán evaluadas caso por caso.
        </li>
        <li>
            <strong>6. Confirmación de Cancelación:</strong>
            Una vez recibida su solicitud de cancelación o reprogramación, recibirá una confirmación por escrito a
            través
            del medio de comunicación utilizado para la solicitud. Le recomendamos conservar esta confirmación para
            cualquier referencia futura.
        </li>
        <li>
            <strong>7. Política de Devoluciones:</strong>
            En caso de que aplique una devolución, esta será procesada dentro de un período de 7 a 10 días hábiles, y se
            realizará a través del mismo método de pago utilizado para la transacción inicial.
        </li>
        <li>
            <strong>8. Establecimiento de condiciones por parte del profesional:</strong>
            El profesional está habilitado para establecer sus propias condiciones y términos de cancelación, siempre y
            cuando
            sean notificados previamente al cliente. En caso de discrepancia entre las condiciones del profesional
            y las establecidas por la web, prevalecerán las condiciones más restrictivas.
        </li>
    </ul>
    Estas condiciones y términos han sido diseñados para mantener la integridad de nuestros servicios y asegurar la
    disponibilidad de nuestros profesionales para todos nuestros clientes. Agradecemos su comprensión y cooperación en
    este
    aspecto.

    Para cualquier consulta adicional o aclaración sobre nuestra política de cancelación, por favor, no dude en ponerse
    en contacto con nuestro equipo de atención al cliente. Estamos aquí para asistirle y garantizarle la mejor
    experiencia posible con nuestros servicios.
    <br>
    <div class="container text-center">
        Atentamente,
        <br>
        <strong><i>Legal Roster</i></strong>
    </div>
    </p>

</section>
{% endblock %}