{% extends "core/base.html" %}
{% load static %}

{% block title %}
Sobre Nosotros
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sobre-nosotros.css' %}">
{% endblock %}


{% block content %}

<!-- Carousel que muestra imágenes relacionadas con el derecho. -->
<div class="container-fluid p-0">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/slider4.jpg' %}" class="d-block w-100" alt="Imagen 1 abogada">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/slider5.jpg' %}" class="d-block w-100" alt="Imagen 2 abogada">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- Sección de párrafos del sobre nosotros. -->

<section class="container mt-3">
    <div class="row">
        <div class="col-6"><img src="{% static 'img/sobre-nosotros-1.svg' %}" class="img-fluid" alt="Imagen equipo">
        </div>
        <div class="col-6 d-flex align-items-center">En Legal Roster, creemos que encontrar al abogado
            adecuado no debería ser una tarea complicada. Por eso, hemos
            creado una plataforma que conecta a las personas con los mejores profesionales del sector legal.
            En ella puedes buscar al más adecuado para tu caso, filtrando por todas las
            especialidades que puedas necesitar. Aseguramos un servicio de calidad y confianza, y una
            atención personalizada para cada cliente. ¡No dudes en contactar con nosotros!
        </div>
    </div>
    <div class="row mt-3 d-flex align-items-center">
        <div class="col-6">Creemos que la confianza es fundamental en cualquier relación profesional,
            especialmente cuando se trata de servicios
            legales. Por eso, nuestra plataforma permite a los usuarios valorar y opinar sobre los abogados con los que
            han tenido
            experiencia. Estas valoraciones ayudan a otros usuarios a tomar decisiones informadas basadas en
            experiencias reales.</div>
        <div class="col-6"><img src="{% static 'img/sobre-nosotros-2.svg' %}" class="img-fluid" alt="Imagen valoración">
        </div>
    </div>
    <div class="row mt-3 d-flex align-items-center">
        <div class="col-6"><img src="{% static 'img/sobre-nosotros-3.svg' %}" class="img-fluid"
                alt="Imagen misión y valores"></div>
        <div class="col-6">Creemos que la simplicidad puede hacer de un proceso legal algo menos complicado,
            por
            eso ponemos
            a la disposición del usuario múltiples servicios al alcance de un clic. Desde la búsqueda de un abogado, un
            calendario personalizado
            o la posibilidad de realizar pagos de manera segura. Todo en un solo lugar. Sea cual sea la necesidad que se
            tenga,
            Legal Roster está aquí para ayudarte de la manera más sencilla y eficaz posible.
        </div>
    </div>
</section>
{% endblock %}