<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>Homepage</title>

    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <!-- Header de la página en donde se situará el título y el menú de navegación. 
         También la imagen de perfil y las opciones correspondientes. -->
    <header class="container-fluid p-0">
      <!-- TÍTULO PRINCIPAL -->
      <h1 class="bg-primary p-3 text-white text-center">
        <a href="/" class="text-white">LEGAL ROSTER</a>
      </h1>

      <!-- MENÚ DE NAVEGACIÓN -->
      <nav class="row navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid col-6 bg-secondary text-white text-center">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/calendario"
                >Calendario</a
              >
              <a class="nav-link" href="/mis_solicitudes">Solicitudes</a>
              <a class="nav-link" href="/solicitar_cita">Solicitar Cita</a>
              <a class="nav-link" href="/sobre_nosotros">Sobre nosotros</a>
            </div>
          </div>
        </div>
        <div class="container-fluid col-6 bg-secondary text-white text-center">
          <a href="/usuarios/registro">Registrate aquí</a>
          <br />
          <a href="/usuarios/login">Inicia sesión aquí</a>
        </div>
      </nav>
    </header>

    <hr />

    {% for especialidad in lista_especialidades %}
    <h2>{{ especialidad }}</h2>
    {% endfor %} {% for profesional in lista_profesionales %}
    <h3>{{ profesional.nombre }}</h3>
    <h3>{{ profesional.email }}</h3>

    {% endfor %}
  </body>
</html>
