{% extends "base.html" %}

{% block title %}
  Sobre Nosotros
{% endblock %}


{% block content %}
    <nav class="container mt-2">
        <h2>Sobre Nosotros</h2>
    </nav>
    <section class="container">
        Esta página está creada por Julio Acuña y ofrece un servicio de valoración y clasificación de
        profesionales del sector legal como abogados, consultores etc. En la página principal puede verse
        una lista con todos los profesionales, clasificados siguiendo diferentes criterios que el usuario
        puede modificar. En cada uno de ellos se podrá acceder a la información del profesional, así como 
        un apartado para contactar y otro para comentar.
    </section>
{% endblock %}
  
    



